

.container{
    max-width: 1500;
}

.credit{
    margin:0 auto;
}

.credit-area{
    margin:0 auto;
}

.reserve-area{
    text-align: center;
}

.reserve-area p{
    font-size: 1rem;
    font-weight: bold;
}