img {
  width: 100%;
  height: auto;
}

p{
  font-weight: bold;
}

.flex__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1500px;
  margin: 100px auto;
}

.shop-wrap {
  margin-top: 20px;
}

.shop-wrap__item {
  width: 45%;
  margin:2%;
  display: block;
}

.shop-wrap__item-content {
  padding: 5%;
}

.shop-wrap__item-content-tag {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: inline;
}

.reserve {
  width: 45%;
  margin:2%;
  display: block;
  background-color:rgb(0, 60, 255);
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 4px;
  height:750px;
}

.reserve-input{
  padding-left:3%;
}

h2{
  color: white;
  padding: 20px 0 0 20px;
}

#recommendation{
  color: white;
}

#input-date {
  height: 40px;
  width: 30%;
  border-radius: 5px;
  border: none;
}

#input-time {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  border: none;
}

#input-number {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  border: none;
}

.reserve-confirmation{
  background-color:rgba(0, 208, 255, 0.495);
  border-radius: 5px;
  margin: 3%;
}

.reserve-confirmation-area{
  padding: 3%;
  color: white;
}

#button{
  width: 100%;
  color: white;
  border: none;
  background-color: rgb(0, 0, 255);
  height: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 5px 5px;
}

.error{
  list-style: none;
  color:white;
}

.review-area{
  border: 1px solid grey;
  margin-top: 50px;
}

.review-box {
  padding: 20px;
}

.review-main {
  padding: 2%;
  border: 1px solid grey;
  margin-top: 20px;
}

.review-user {
  display: flex;
}

.review-user p {
  margin-right: 2%;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rate-form input[type=radio] {
  display: none;
}

.rate-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 35px;
}

.rate-form label:hover {
  color: #ffcc00;
}

.rate-form label:hover~label {
  color: #ffcc00;
}

.rate-form input[type=radio]:checked~label {
  color: #ffcc00;
}

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
  content: '★★★★★';
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
  /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
}

.star5_rating[data-rate="4"]:after {
  width: 80%;
}

.star5_rating[data-rate="3"]:after {
  width: 60%;
}

.star5_rating[data-rate="2"]:after {
  width: 40%;
}

.star5_rating[data-rate="1"]:after {
  width: 20%;
}




