.main {
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
}

.main__search{
    width: 100%;
    margin: 50px auto;
    border: 1px solid black;
}

.main__search--step-input-day{
    display: flex;
    justify-content:space-evenly;
}

.main__search--step-input-day input{
    width:25%;
}

.shop-wrap {
    margin-top: 20px;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-wrap__item {
    width: 45%;
    margin: 5px;
    display: block;
    text-align: left;
}
.shop-wrap__item-content {
    padding: 20px;
}

.shop-wrap__item-eyecatch {
    width: 100%;
}

.shop-wrap__item-content-tag {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr:first-child{
    border-bottom: 1px solid black;
}

.main__add--table td {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.error {
    list-style: none;
    color: red;
}

.responsive {
    display: none;
}

@media screen and (max-width : 768px) {
    .responsive {
        display: block;
        text-align: center;
    }

    .default {
        display: none;
    }

    .main__search--step-input-day input {
        width: 33%;
    }
}

.main__search--table-area{
    border-bottom: 1px solid black;
}

.main__search--table-area:last-child {
    border: none;
}

.main__search--table-responsive{
    border-bottom: 1px solid black;
}

.main__search--table-responsive:last-child {
    border: none;
}

