.main {
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
}

.main__search{
    width: 100%;
    margin: 50px auto;
    border: 1px solid black;
}

.main__search--step-title{
    width: 50%;
    height: 40px;
    line-height: 40px;
}

.main__search--step-button{
    height: 40px;
    line-height: 40px;
}

.main__search--step-input{
    height: 40px;
    width: 100%;
}

.main__search--step-input input{
    height: 40px;
    width: 100%;
}

.main__search--step-input-day{
    display: flex;
    justify-content:space-evenly;
}

.main__search--step-input-day input{
    width:25%;
}

.store-wrap {
    margin-top: 20px;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.store-wrap__item {
    width: 45%;
    margin: 5px;
    display: block;
    text-align: left;
}
.store-wrap__item-content {
    padding: 20px;
}

.store-wrap__item-eyecatch {
    width: 100%;
}

.store-wrap__item-content-tag {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline;
}

.main__search--step-input select {
    height: 40px;
    width: 50%;
}

.main__search--submit {
    width: 15%;
}

.main__search--submit input{
    color: white;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.main__add--table{
    width:100%;
    margin: 50px auto;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr:first-child{
    border-bottom: 1px solid black;
}

.main__add--table th{
    padding-right:50px;
    white-space: nowrap;
}

.main__add--table td {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.none{
    display: none;
}

.opinion{
    max-width: 350px;
}

.opinion-limit {
    white-space: nowrap;
}

.opinion-origin {
    max-width: 350px;
    white-space: normal;
}

#delete__submit {
    color: white;
    width:70px;
    background-color:black;
    border-radius: 5px;
    cursor: pointer;
}

.main__search--reset {
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    text-decoration: underline;
}

.main__search--reset:hover {
    text-decoration: underline;
    color: #002080;
}

.active {
    background-color: black;
}

.active span{
    color: white;
}








