img {
  width: 100%;
  height: auto;
}

#clock {
  width: 40px;
  height: auto;
}

#reserve-num{
  margin-left: 25px;
  font-weight: bold;
}

h1{
  text-align: center;
}

h2{
  margin-left: 25px;
}

p{
  font-weight: bold;
}

.container {
  max-width: 1500px;
  margin: 100px auto;
}

.container-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reserve-wrap {
  margin-top: 20px;
  width: 40%;
}

.reserve-wrap__item {
  width: 100%;
  margin: 5px;
  display: block;
}

.reserve-confirmation {
  background-color: rgb(0, 60, 255);
  border-radius: 5px;
  margin:33px 20px;
}

.reserve-confirmation-area {
  padding: 20px;
  color: white;
}

.reserve-confirmation-area-head form {
  display: inline-block;
  float: right;
  margin-right: 1%;;
}

#input-date {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: none;
  margin-left: 5.5%;
}

#input-time {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: none;
  margin-left: 5.5%;
}

#input-number {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: none;
}

.store-wrap {
  margin-top: 20px;
  width: 50%;
}

.store-wrap-area{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.store-wrap__item {
  width: 45%;
  margin: 10px;
  display: block;
  box-shadow: 10px 10px 15px -10px;
  border-radius: 15px;
}

.store-wrap__item-eyecatch{
  height: 200px;
}

.store-wrap__item img{
  border-radius: 15px 15px 0 0;
}

.store-wrap__item-content {
  background: #fff;
  border-radius: 0 0 15px 15px;
  padding: 20px;
}

.store-wrap__item-content-tag {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: inline;
}

.store-wrap__item-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#button{
  background-color: rgb(0, 60, 255);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  float: right;
}

.confirm-button-area{
  display: flex;
  flex-direction: row-reverse;
}

#confirm-button{
  width: 15%;
  background-color: rgb(0, 60, 255);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.heart {
  width: 40px;
  height: auto;
}

.detail {
  text-decoration: none;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.error {
  list-style: none;
  color: white;
}

.none{
  display: none;
}