.main {
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
}

.main__search{
    width: 100%;
    margin: 50px auto;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr:first-child{
    border-bottom: 1px solid black;
}





